.error {
  color: #bb0000; }

a {
  text-decoration: none; }

a img {
  border: 0; }

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #eeeeee url("/crosses.png");
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", helvetica, Verdana, Arial, Sans;
  line-height: 1.3;
  color: #333333; }

.main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: 60px;
  margin: 0;
  width: 10000%; }

footer {
  border-top: 1px solid #3d3c43;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.8);
  background: #eeeeee url("/images/noise.png");
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
  font-size: 80%;
  z-index: 1000;
  color: #ccdcd2; }
 
footer form {
  display: inline;
}

.neighbor {
  float: right;
  padding-left: 8px;
  width: 16px;
}

img.remote,
.neighbor img {
  width: 16px;
  height: 16px;
  background-color: #cccccc;
}

.neighbor .wait {
  -webkit-animation: rotatecw 2s linear infinite;
  -moz-animation: rotatecw 2s linear infinite;
  animation: rotatecw 2s linear infinite;
}
.fetch {
  -webkit-animation: rotatecw .5s linear infinite;
  -moz-animation: rotatecw .5s linear infinite;
  animation: rotatecw .5s linear infinite;
}
.fail {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}
@-webkit-keyframes rotatecw { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotatecw { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes rotatecw { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }


header {
  top: 0; }

footer {
  bottom: 0; }

.twins,
.journal,
.footer {
  min-height: 1em;
  opacity: 1;
}
.twins:hover,
.journal:hover,
.footer:hover {
  opacity: 1;
}

.story {
  padding-bottom: 5px; }

.data,
.chart,
.image {
  float: right;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  background: #eeeeee;
  padding: 0.8em;
  width: 42%;
 }

.image .thumbnail {
  width: 100%; }

.journal {
  width: 420px;
  overflow-x: hidden;
  margin-top: 2px;
  clear: both;
  background-color: #eeeeee;
  overflow: auto;
  padding: 3px; }

.action.fork {
  color: black; }

.action {
  font-size: 0.9em;
  background-color: #cccccc;
  color: #666666;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin: 3px;
  float: left;
  width: 18px; }

.control-buttons {
  float: right;
  position: relative;
  right: 5px;
  overflow-x: visible;
  white-space: nowrap; }

.button {
  /*from bootstrap*/
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  /*custom*/
  display: inline-block;
  white-space: normal;
  position: relative;
  top: 2px;
  left: 3px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin-bottom: 2px;
  color: #2c3f39;
  width: 18px; }

.button:hover {
  color: #d9a513;
  text-shadow: 0 0 1px #2c3f39;
  box-shadow: 0 0 7px #3d3c43; }

.button:active {
  box-shadow: inset 0 0 7px #3d3c43; }

.target {
  background-color: #ffffcc !important; }

.report p,
.factory p,
.data p,
.chart p,
.footer a,
.image p,
p.caption {
  text-align: center;
  margin-bottom: 0;
  color: gray;
  font-size: 70%; }

.twins p {
  color: gray;
}

image.remote {
  width:16px;
  height:16px;
}

p.readout {
  text-align: center;
  font-size: 300%;
  color: black;
  font-weight: bold;
  margin: 0; }

.footer {
  clear: both;
  margin-bottom: 1em; }

.page {
  float: left;
  margin: 8px;
  padding: 0 31px;
  width: 430px;
  background-color: white;
  height: 100%;
  overflow: auto;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2); }
  .page.active {
    box-shadow: 2px 1px 24px rgba(0, 0, 0, 0.4);
    z-index: 10; }

.page.local {
  box-shadow: inset 0px 0px 40px 0px rgba(220,180,0,.7);
}

.page.remote {
  box-shadow: inset 0px 0px 40px 0px rgba(0,180,220,.5);
}

.factory,
textarea {
  font-size: inherit;
  width: 100%;
  height: 150px; }

.clickable:hover {
  cursor: pointer; }

@media all and (max-width: 400px) {
  .page {
    width: 0.9%;
    margin: 0.01%;
    padding: 0.04%; } }
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-right: 10px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: block;
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #cccccc;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 6px; }

.factory {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee; }
  .factory p {
    padding: 10px; }

.bytebeat .play {
  display: inline-block;
  height: 14px;
  width: 11px;
  padding-left: 3px;
  font-size: 70%;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 8px; }
.bytebeat .symbol {
  color: #990000; }

.revision {
  position: relative;
  font-size: 24px;
  color: rgba(128,32,16,0.7); #7b2106
  font-weight: bold; }

.revision span {
  background: rgba(255,255,255,0.8);
  padding: 10px;
  position: absolute;
  display: block;
  text-align: center;
  top: -40px;
  right: 10px;
  -webkit-transform: rotate(-15deg); 
  -moz-transform: rotate(-15deg);

}

.favicon {
  position: relative;
  margin-bottom: -6px; }

.ghost {
  opacity: 0.6;
  border-color: #eef2fe;
}
