%html
	%head
		%title= $identity['title']
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%meta(name="viewport" content="width=530, maximum-scale=0.65")
		%link(type="image/png" href="/favicon.png" rel="icon")
		%link(type="text/css" href="/style.css" rel="stylesheet")
		%script(type="text/javascript" src="/js/jquery-1.6.2.min.js")
		%script(type="text/javascript" src="/js/jquery-ui-1.8.14.custom.min.js")
		%script(type="text/javascript" src="/client.js")
		%script(type="text/javascript" src="/js/d3/d3.js")
	%body
		.main
			=yield
		%br{:clear => 'all'}
		%input{:type => "checkbox", :id => "localEditing", :class => "local_editing clickable"}
		%label{:for => "localEditing",  :class => "clickable"} Local editing
