%html
  %head
    %title= $identity['title']
    %meta(name="viewport" content="width=500;")
    %link(href="style.css" rel="stylesheet" type="text/css")
    %script(type="text/javascript" src="js/jquery-1.5.1.min.js")
    %script(type="text/javascript" src="js/jquery-ui-1.8.14.custom.min.js")
    %script(type="text/javascript" src="js/jquery.ui.touch-punch.min.js")
    %script(type="text/javascript" src="client.js")
  %body
    .main
      =yield