.main
  font-family: Verdana, Arial, Sans
  width: 25em
  margin-left: auto
  margin-right: auto

.image
  float: right
  margin-left: .4em
  background: #eee
  padding: .8em
  width: 40%

.image img
  width: 100%

.footer a,
.image p
  text-align: center
  margin-bottom: 0
  color: gray
  font-size: 70%

.footer
  clear: both
