.main
  font-family: Verdana, Arial, Sans
  width: 25em
  margin-left: auto
  margin-right: auto

form
  background: #eee
  padding: 1em
  margin-top: 2em

ul
  list-style-type: none

.plot
  width: 100%
  height: 200px

.fft
  width: 100%
  height: 200px

#slider
  margin-bottom: 1em