!!! 5
%html( class="no-js" )
	%head
		%title Smallest Federated Wiki
		/
			= settings.versions
		
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
		%link(type="image/png" href="/favicon.png" rel="icon")
		%link(type="text/css" href="/style.css" rel="stylesheet")
		%script(type="text/javascript" src="/js/jquery-1.9.1.min.js")
		%script(type="text/javascript" src="/js/jquery-migrate-1.1.1.min.js")
		%script(type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js")
		%link(type="text/css" href="/js/jquery-ui-1.10.1.custom.min.css" rel="stylesheet")
		%script(type="text/javascript" src="/js/modernizr.custom.63710.js")
		%script(type="text/javascript" src="/js/underscore-min.js")
		%script(type="text/javascript" src="/client.js")
		:javascript
			Modernizr.load([
			{
			  test: Modernizr.cors,
			  nope: '/js/jquery.ie.cors.js'},
			{
			  test: Modernizr.json,
			  nope: '/js/json3.min.js'}
			]);
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="apple-mobile-web-app-status-bar-style" content="black")
		%meta(name="apple-mobile-web-app-title" content="SF Wiki")
		
		%link(rel="apple-touch-icon" href="/favicon.png")
		%link(rel="shortcut icon" href="/favicon.png")
	%body
		%section.main
			=yield
		%footer{:class => authenticated? ? "logout" : identified? ? "login" : claimed? ? "login" : "claim"}
			- if authenticated?
				%form{:method => 'POST', :action => "/logout"}
					%input{:type => 'submit', :value => "Logout"}
			- else
				- if identified?
					%form{:method => 'POST', :action => "/login"}
						%input{:type => 'submit', :value => "Login"}
				- else
					%form{:method => 'POST', :action => "/login"}
						OpenID:
						%input{:type => 'text', :name => 'identifier'}
						%input{:type => 'submit', :value => claimed? ? "Login" : "Claim"}
						or use:
						%span{:class => 'provider'}
							%input{:type => 'button', :title => 'google', :value => 'G', 'data-provider' => 'https://www.google.com/accounts/o8/id'}
							%input{:type => 'button', :title => 'yahoo', :value => 'Y', 'data-provider' => 'https://me.yahoo.com'}
							%input{:type => 'button', :title => 'aol', :value => 'A', 'data-provider' => 'https://www.aol.com'}
							%input{:type => 'button', :title => 'livejournal', :value => 'L', 'data-provider' => 'http://www.livejournal.com/openid/server.bml'}
			%span
				Search:
				%input.search(name='search' type='text')
			%span.neighborhood
