!!! 5
%html
	%head
		%title Smallest Federated Wiki
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
		%link(type="image/png" href="/favicon.png" rel="icon")
		%link(type="text/css" href="/style.css" rel="stylesheet")
		%script(type="text/javascript" src="/js/jquery-1.6.2.min.js")
		%script(type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js")
		%link(type="text/css" href="/js/jquery-ui-1.8.16.custom.css" rel="stylesheet")
		%script(type="text/javascript" src="/js/history.min.js")
		%script(type="text/javascript" src="/js/history.jquery.min.js")
		%script(type="text/javascript" src="/js/underscore-min.js")
		%script(type="text/javascript" src="/client.js")
	%body
		%header
		%section.main
			=yield
		%footer
			%input{:type => "checkbox", :id => "localEditing", :class => "local_editing clickable", :style => 'display:none;'}
			%label{:for => "localEditing",  :class => "clickable", :style => 'display:none;'} Local editing
			- if authenticated?
				%span#authenticated
					Authenicated!
				%form{:method => 'POST', :action => "/logout"}
					%input{:type => 'submit', :value => "Logout"}
			- else
				%form{:method => 'POST', :action => "/login"}
					OpenID:
					%input{:type => 'text', :name => 'identifier'}
					%input{:type => 'submit', :value => "Login"}
