<html>
  <head>
    <title>New Simplest Federated Wiki Install</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link href='/favicon.png' rel='icon' type='image/png'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <script src='/js/jquery-1.6.2.min.js' type='text/javascript'></script>
    <script src='/js/jquery-ui-1.8.16.custom.min.js' type='text/javascript'></script>
    <link href='/js/jquery-ui-1.8.16.custom.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/history.min.js"></script>
    <script type="text/javascript" src="/js/history.jquery.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script src='/client.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='main'></div>
    <br clear='all'>
    <input class='local_editing clickable' id='localEditing' type='checkbox'>
    <label class='clickable' for='localEditing'>Local editing</label>
  </body>
</html>
