a {
  color: #c14615; }

a:hover {
  color: #ffba00;
  text-shadow: 0 0 1px #d9a513; }

h1 {
  color: #566a6c;
  font-weight: 400; }

body {
	background: url("/theme/stoneSeamless.jpg"); }

.journal {
  border-radius: 5px; }

.action {
  font-size: 1.3em;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 0.1em;
  margin: 4px;
  float: left;
  width: 26px; }

.control-buttons {
  right: 3px;
}

.button {
  left: 0;
  color: #c14615;
  font-size: 21px;
  padding: 0.1em;
  margin: 1px;
  width: 26px; }

.action:hover {
  color: #2c3f39;
  text-shadow: 0 0 1px #2c3f39; }

.target {
  background-color: #c9e1d4 !important; }

.page {
  padding: 0 16px;
  border-radius: 5px;
  border-style:solid;
  border-width:1px;
  border-color: #878984;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5); }
  .page.active {
    border-color: #515d75; }

.ghost {
  opacity: 0.8;
  border-color: #eef2fe; }
