<!DOCTYPE html>
<html>
  <head>
    <title>Smallest Federated Wiki</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link href='/favicon.png' rel='icon' type='image/png'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <script src='/js/jquery-1.6.2.min.js' type='text/javascript'></script>
    <script src='/js/jquery-ui-1.8.16.custom.min.js' type='text/javascript'></script>
    <link href='/js/jquery-ui-1.8.16.custom.css' rel='stylesheet' type='text/css'>
    <script src='/js/history.min.js' type='text/javascript'></script>
    <script src='/js/history.jquery.min.js' type='text/javascript'></script>
    <script src='/js/underscore-min.js' type='text/javascript'></script>
    <script src='/client.js' type='text/javascript'></script>
  </head>
  <body>
    <header></header>
    <section class='main'>
      <div class='page' id='welcome-visitors'></div>
    </section>
    <footer class='login'>
      <form action='/login' method='POST'>
        OpenID:
        <input name='identifier' type='text'>
        <input type='submit' value='Login'>
      </form>
    </footer>
  </body>
</html>
