<!DOCTYPE html>
<html>
  <head>
    <title>Smallest Federated Wiki</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link id='favicon' href='/favicon.png' rel='icon' type='image/png'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <link href='/theme/granite.css' rel='stylesheet' type='text/css'> 
    <script src='/js/jquery-1.7.1.min.js' type='text/javascript'></script>
    <script src='/js/jquery-ui-1.8.16.custom.min.js' type='text/javascript'></script>
    <link href='/js/jquery-ui-1.8.16.custom.css' rel='stylesheet' type='text/css'>
    <script src='/js/underscore-min.js' type='text/javascript'></script>
    <script src='/client.js' type='text/javascript'></script>
    <!--
    This wiki is served by the SFW node server, the source can be found at:
    https://github.com/WardCunningham/Smallest-Federated-Wiki

    {{gitlog}}
    -->
  </head>
  <body>
    <section class='main'>
      {{#pages}}
        <div class='page' id={{page}} {{origin}}></div>
      {{/pages}}
    </section>
    <footer class={{loginStatus}}>
      {{#authenticated}}
      <form action='/logout' method='POST'>
        <input type='submit' value={{loginStatus}}>
      {{/authenticated}}
      {{^authenticated}}
      <form action='/login' method='POST'>
        OpenID:
        <input name='identifier' type='text'>
        <input type='submit' value={{loginStatus}}>
        or use:
        <span class='provider'>
          <input data-provider='https://www.google.com/accounts/o8/id' title='google' type='button' value='G'>
          <input data-provider='https://me.yahoo.com' title='yahoo' type='button' value='Y'>
          <input data-provider='https://www.aol.com' title='aol' type='button' value='A'>
          <input data-provider='http://www.livejournal.com/openid/server.bml' title='livejournal' type='button' value='L'>
        </span>
      {{/authenticated}}
      </form>
      <span>
        Search:
        <input class='search' name='search' type='text'>
      </span>
      <span class='neighborhood'></span>
    </footer>
  </body>
</html>
