<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Smallest Federated Wiki</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link id='favicon' href='/favicon.png' rel='icon' type='image/png'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <!-- <link href='/theme/granite.css' rel='stylesheet' type='text/css'> -->
    <script src='/js/jquery-1.9.1.min.js' type='text/javascript'></script>
    <script src='/js/jquery-migrate-1.1.1.min.js' type='text/javascript'></script>
    <script src='/js/jquery-ui-1.10.1.custom.min.js' type='text/javascript'></script>
    <link href='/js/jquery-ui-1.10.1.custom.min.css' rel='stylesheet' type='text/css'>
    <script src='/js/modernizr.custom.63710.js' type='text/javascript'></script>
    <script src='/js/underscore-min.js' type='text/javascript'></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src='/client.js' type='text/javascript'></script>
    <script>Modernizr.load([{test: Modernizr.cors, nope: '/js/jquery.ie.cors.js'}]);</script>
  </head>
  <body>
    <section class='main'>
      {{#pages}}
      <div class='page' id={{page}} {{origin}} {{generated}}>{{{story}}}</div>
      {{/pages}}
    </section>
    <footer class={{loginStatus}}>
        <div id="user-email"></div>
        <button id="persona-login-btn">Login with your Email</button>
        <button id="persona-logout-btn">Sign out</button>
      </form>
      <span>
        Search:
        <input class='search' name='search' type='text'>
      </span>
      <span class='neighborhood'></span>
    </footer>
  <script>
  /*
   TODO
* Externalize JS and convert to coffee
*/

console.log('wiring up ', $('#persona-logout-btn').length);
$('#persona-logout-btn').click(function(e) {
  alert('hey');
  e.preventDefault();
  navigator.id.logout();
});

$('#user-email').hide();
$('#persona-login-btn').hide();
$('#persona-logout-btn').hide();

navigator.id.watch({
{{#authenticated}}
// Ya logged in
  loggedInUser: '{{owner}}',
{{/authenticated}}
{{^authenticated}}
// Nope
    loggedInUser: null,
{{/authenticated}}

  onlogin: function(assertion) {
    console.log('assertion=', assertion);
    $.post('/persona_login', { assertion: assertion }, function(verified) {
      verified = JSON.parse(verified);
      console.log(verified);
      if ('okay' === verified.status) {
        $('#user-email').text(verified.email)
                        .show();
        $('#persona-login-btn').hide();
        $('#persona-logout-btn').show();
      } else {
        // Verification failed
        navigator.id.logout();        
      }
    });
  },
  onlogout: function() {
    console.log('logging out');
    $.post('/persona_logout');
    $('#user-email').hide();
    $('#persona-login-btn').show();
    $('#persona-logout-btn').hide();
  },
  onmatch: function() {
    console.log('It is safe to render the UI');
{{#authenticated}}
    $('#user-email').text('{{owner}}')
                    .show();
    $('#persona-login-btn').hide();
    $('#persona-logout-btn').show();
{{/authenticated}}
{{^authenticated}}
    $('#user-email').hide();
    $('#persona-login-btn').show();
    $('#persona-logout-btn').hide();
{{/authenticated}}
  }
});

$('#persona-login-btn').click(function(e) {
  e.preventDefault();
  console.log('button clicked');
  navigator.id.request({});
});
  </script>
  </body>
</html>
